/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/

.song {
  position: relative;
  padding: 0.675rem 0;
  background-color: #DDD;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #333;
}

.artwork img {
  margin: 0 0.675rem;
  border-radius: 0.25rem;
  float: left;
}

.info {
  padding: auto 0;
  text-align: left;
  color: #333;
}

.info:first-child {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
}

.title {
  font-weight: 800;
}

.add-to-likes {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.675rem;
  border: none;
  background: none;
  font-size: 1.5rem;
}

.add-to-likes #liked {
  color: #C00;
}