:root, body, * {
  /* CSS variable */
  --bg-one: #E7FFFF;
  --bg-two: #C2C2C2;
  --bg-three: #333;
  --txt-one: #333;
  --txt-two: #003552;
  /*--acc-one: ;
  --acc-two: ;
  --acc-three: ;
  --acc-four: ;
  --acc-five: ;
  --acc-six: ;*/
  --fffa: rgba(255, 255, 255, 0.1);
  /* Element reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.1px solid #F00; */
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/