.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    color: #fff;
    /* font-size: 2rem; */
}

.Search-number {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    text-align: right;
    width: 3.5rem;
}

.Search-number--buttons {
    display: flex;
    flex-direction: column;
}

.Search-number--buttons button {
    border: none;
    /* width: 40px; */
    /* font-weight: 900; */
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

p {
    font-size: 2rem;
}