:root,
body,
* {
  /* CSS variable */
  --bg-one: #fff;
  --bg-two: #282828;
  --bg-three: #333;
  --txt-one: #fff;
  --txt-two: #003552;
  --acc-one: #333;
  --acc-two: #fff;
  --acc-three: #c00;
  /*--acc-four: ;
  --acc-five: ;
  --acc-six: ;*/
  --fffa: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.buttons button {
  font-size: 1.5rem;
  padding: 0;
}

.add-to-likes {
  color: var(--acc-three);
}

.add-to-likes:hover {
  color: var(--acc-three);
}

.add-to-likes:active {
  color: var(--acc-three) !important; 
}

/* Input type = number */

.player {
  position: relative;
  padding-bottom: 300px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: .5rem;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 50%;
  width: 75%;
  height: 100%;
  transform: translateX(-50%);
}

.playlist {
  width: 100%;
  max-width: 420px;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number-buttons {
  width: 30px;
}

.change-number {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: bolder;
  color: #fff;
}

.playlist-title {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #999;
  text-align: center;
  color: white;
}

.playlist-title:focus {
  outline: none;
}